* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    
    box-sizing: border-box;
}

header {
    height: 25vh;
    position: relative;
    background-image: url(../img/trianglify.png);
    background-size: cover;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 2vw)
      );

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: #8F8F8E
    }
}


.card-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // margin: 60px 0;
    height: 65vh;
}

canvas {
    border: 3px solid rgba(31, 31, 31, 0.2);
    box-sizing: border-box;
}


.right-container {
    height: 300px;
    width: 600px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    li,
    button,
    .inputfile + label,
    .checkbox-button {
        font-size: 0.9rem;
        font-family: inherit;
        text-align: center; 
        margin: 0 10px;
        padding: 5px;
        min-width: 100px;
        border: 1px solid #D6D6C1;
        border-radius: 4px;
        background-color: #FCFCF6;

        &:hover,
        &:active,
        &:visited {
            background-color: #F5F5DC;
        }
    }

    .clicked {
        background-color: #F5F5DC;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputcolor {
        border: 1px solid #D6D6C1;
        background-color: #FCFCF6;
        border-radius: 4px;
    }

    .content-container {
        display: none;
    }
    
    .active {
        display: block;
    }
    
    .description {
        padding: 10px 0;
        margin-bottom: 0;
    }
    


    // ---------------CONTAINERS STYLING---------------

    #container-buttons {
        width: 100%;
        border-bottom: 1px solid #D6D6C1;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
        
            li {
                margin: 0;
                border-radius: 5px 30px 0 0;
                border: none;
        
                a {
                    text-decoration: none;
                    color: inherit;
                    width: 100%;
                    display: block;
                    
                }
            }
        }
    }

    #container-objects {
        .change-canvas-background {
            p {
                padding: 15px 0;
            }
        }
    }

    #container-image {
        label {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    
    #container-text {
        #text-font,
        #new-text,
        #text-color {     
            font-family: inherit;
            margin: 0 10px;
            border: 1px solid #D6D6C1; 
            border-radius: 4px;
            display: inline;
        }

        .new-text {
            display: flex;
            align-items: center;
        }

        .text-manipulation {
            margin: 15px 0;
            .checkbox-button {
                display: inline-flex;
                justify-content: center;
                min-width: 30px;
    
                .for-bold {  
                    font-weight: 800;  
                }  
    
                .for-italic {
                    font-style: italic;
                }   
    
                .for-underline {
                    text-decoration: underline;
                }

                .for-overline {
                    text-decoration: overline;
                }

                .for-linethrough {
                    text-decoration: line-through;
                }   
    
                input {
                    display: none;
                }
             
            }   
        }
    }

    #bottom-buttons {
        width: 100%;
        border-top: 1px solid #D6D6C1;

        button {
            margin-top: 10px;
        }
    }
}

.footer {
    height: 10vh;
    position: relative;
    background-image: url(../img/trianglify.png);
    background-size: cover;
    background-position: right bottom;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    clip-path: polygon(
        0 0,
        100% calc(2vw),
        100% 100%,
        0 100%,
     
      );
}





  